@font-face {
  font-family: "metropolisregular";
  src: url("fonts/metropolis.regular-webfont.woff2") format("woff2"),
    url("fonts/metropolis.regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: rgb(247, 247, 238);
  text-transform: capitalize;
  text-align: justify;
  font-size: 1.15em;
}
#title {
  color: rgba(100, 50, 50, 1);
  font-weight: 400;
}

.subtitle {
  color: rgb(179, 88, 88);
}

img {
  width: 50%;
  border: 2px double black;
  margin: 40px 10px;
  float: none;
  display: inline;
}

#service-image {
  height: 400px;
  width: 70%;
  background: linear-gradient(
    215deg,
    rgb(0, 247, 255),
    rgb(0, 77, 128),
    rgb(10, 48, 80),
    white
  );
  background: radial-gradient(circle, red 5%, green 80%);
}
.container {
  background: purple;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-item {
  text-align: center;
  background: lightblue;
  width: 70px;
  margin: 4px;
}
span.italic {
  font-family: "metropolisregular";
}
